*.jar
!/gradle/wrapper/gradle-wrapper.jar
*.war
*~
*.class
*.DS_Store
*.swp
*.out
target/
build/
*.iml
*.ipr
*.iws
.gradle/
.settings/
.classpath
.project
.metadata/
.idea/
.mvn/
logs/
dev.properties
dependency-reduced-pom.xml
*.rdb
log/
banner.txt
application.yml
application-unittest.yml
rebel.xml
.rebel.xml.bak
*.trc
*.log
*.log.*
mvnw
mvnw.cmd
# Created by .gitignore support plugin (hsz.mobi)
*.jar
*.war
*~
*.class
*.lock
*.DS_Store
*.swp
*.out
target/
*.iml
*.ipr
*.iws
.settings/
.classpath
.project
.metadata/
.idea/
.mine/
logs/
application.yml
application-local.yml
dubbo.properties
dependency-reduced-pom.xml
*.rdb
*.log
*.gz
*apidocs/
*.versionsBackup
*.perm
flyway.properties
_book/
site/
test_config.yml
/client.*


